<div id="footer">

  <div class="float_left">
    <ul>

      <% unless current_site.external_help.blank? %>
        <li>
          <div id="support_select">
            <%= link_to(image_tag("icons/help.png", :class=>"icon") + " " + t('help'), current_site.external_help) %>
          </div>
        </li>
        <li>-</li>
      <% end %>
    </ul>
  </div>

 
 

  <div class="clearer"></div>

 

</div>
